[submodule "pack/vendor/vim-orgmode"]
	path = pack/vendor/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "pack/vendor/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/vendor/vim-better-whitespace"]
	path = pack/vendor/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "pack/vendor/vim-fugitive"]
	path = pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/vendor/molokai"]
	path = pack/vendor/start/molokai
	url = https://github.com/tomasr/molokai
[submodule "pack/vendor/vim-markdown-folding"]
	path = pack/vendor/start/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding
[submodule "pack/vendor/vim-speeddating"]
	path = pack/vendor/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "pack/vendor/start/vim-fetch"]
	path = pack/vendor/start/vim-fetch
	url = git@github.com:wsdjeg/vim-fetch
[submodule "pack/vendor/start/vim-matchup"]
	path = pack/vendor/start/vim-matchup
	url = git@github.com:andymass/vim-matchup
[submodule "pack/vendor/start/vim-plugin-AnsiEsc"]
	path = pack/vendor/start/vim-plugin-AnsiEsc
	url = git@github.com:powerman/vim-plugin-AnsiEsc.git
[submodule "pack/vendor/start/true-monochrome"]
	path = pack/vendor/start/true-monochrome
	url = git@github.com:ryanpcmcquen/true-monochrome_vim.git
[submodule "pack/vendor/opt/powerline-repo"]
	path = pack/vendor/opt/powerline-repo
	url = https://github.com/lokaltog/powerline
[submodule "pack/vendor/start/ctrlp.vim"]
	path = pack/vendor/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "pack/vendor/start/vim-ripgrep"]
	path = pack/vendor/start/vim-ripgrep
	url = git@github.com:jremmen/vim-ripgrep
[submodule "pack/vendor/start/vim-applescript"]
	path = pack/vendor/start/vim-applescript
	url = git@github.com:mityu/vim-applescript
